@tailwind base;
@tailwind components;
@tailwind utilities;

.disabled {
    color: #aaa; 
    cursor: not-allowed; 
    pointer-events: none; 
    user-select: none; 
  }

.container{
  display: flex;
  justify-content: center;

}


.text{
  font-size: 2em;
  letter-spacing: 10px;
  font-family: monospace;
  border-right: 5px solid;
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  animation:typing 2s steps(16),
   cursor .4s step-end infinite alternate;

}

@keyframes cursor{
  50% { border-color:transparent;}
}

@keyframes typing{
  from { width:0; }
}









  