@tailwind base;
@tailwind components;
@tailwind utilities;

.disabled {
    color: #aaa; 
    cursor: not-allowed; 
    pointer-events: none; 
    user-select: none;
  }


@keyframes neon-glow-1 {
  0% {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  100% {
    text-shadow: 0 0 10px #00BFFF, 0 0 20px #00BFFF, 0 0 30px #00BFFF;
  }
}

.my-futuristic-text-1 {
  font-family: 'Segoe UI', sans-serif;
  font-size: 2rem;
  color: #00BFFF;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  animation: neon-glow-1 1s infinite alternate;
}



  